# Ignore binary files
.bin/
*.exe

# Ignore IDE files
.idea/
.vscode/

# Ignore config and dev files
config/*.yaml
.env
*.dev.yml

# Ignore logs, temporary files and any trash
*.txt
.logs/
*.log

# Ignore OS files
.DS_Store*


# Ignore database data
.database/

# Ignore calendars and other stuff
*calendars/

# Ignore test coverage files
coverage*