# Ignore binary files
.bin/
*.exe

# Ignore IDE files
.idea/

# Ignore config files
config/*.yaml
.env

# Ignore logs, temporary files and any trash
*.txt
.logs/

# Ignore OS files
.DS_Store*


# Ignore database data
.database/